/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;
    color: rgb(32, 32, 32);
}

/* COMMON */

.flex {
    display: flex;
}

.container {
    min-height: 400px;
    width: 80%;
    margin: 0 auto;
}

.container2 {
    min-height: 400px;
    width: 75%;
    margin: 0 auto;
}


.blue-link {
    text-decoration: none;
    background-color: rgb(0, 49, 226);
    color: white;
    padding: 5px 10px;
    margin: 0 auto;
}

/* HEADER */

header {
    width: 100%;
}

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 80px;
    background-color: white;
}

.left-content {
    min-width: 450px;
    padding: 5px;
}

.logo {
    height: 80%;
}

.nav-options {
    margin-left: 1rem;
}

.nav-options a {
    text-decoration: none;
    margin-left: 3px;
}

.right-content {
    min-width: 450px;
    padding: 5px;
}

.nav-interface {
    text-decoration: none;
    margin-right: 5px;
}

.nav-interface a {
    text-decoration: none;
    margin-left: 3px;
}


/* END HEADER */

/* MAIN */

/* JUMBOTRON */

/* distanziato dal top per la stessa altezza del contenitore flex di header, soluzione troppo empirica */
.jumbotron {
    margin-top: 80px;
    width: 100%;
    min-height: 550px;
    background-color: rgb(134, 127, 243);
    padding-top: 30px;
    justify-content: end;
}

.jumbo-title {
    font-size: 2rem;
    padding: 5px;
}

.jumbo-content {
    flex-direction: row;
}

.jumbo-description {
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
}

.arrow-down {
    font-size: 30px;
    margin: 0 auto;
}

.jumbo-png {
    width: 100%;
}

/* END JUMBOTRON */

/* MAIN */

/* SECTION 1 */
.title2 {
    font-size: 2.4rem;
    padding: 100px 20px 20px 20px;
}

.fatturazione {
    padding: 20px;
}

.fatturazione p {
    margin-right: 10px;
}

.businness-plans {
    flex-direction: row;
    justify-content: space-evenly;
}

/* COLUMNS */

.padded-column {
    flex-direction: column;
    border: 1px solid grey;
    width: 30%;
    margin: 20px 5%;
    padding: 15px;
}

.padded-column p {
    padding: 15px;
}

.col-class {
    display: flex;
    align-items: center;
    border: 1px solid grey;
}

.col-title {
    font-size: 23px;
}

.col-plan-time {
    margin-bottom: 40px;
}

.between-space {
    height: 50px;
    width: 80px;
    border-bottom: 2px solid grey;
    margin-bottom: 50px;
}

/* END COLUMNS */

/* RECAP SECTION 1 */

.businness-recap {
    border: 1px solid grey;
    flex-direction: column;
    margin: 30px 0;
}

.recap-title {
    margin: 0 auto;
    border-bottom: 1px solid grey;
    width: 100%;
}

.recap-contacts {
    flex-direction: row;
    min-height: 170px;
}

.recap-contacts-info {
 width: 60%;
 justify-content: space-around;
 flex-direction: column;
 padding: 20px
}

.recap-contacts-link {
    width: 40%;
    padding: 20px;
    align-content: flex-start;
}
