/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;
    color: rgb(32, 32, 32);
}

/* COMMON */

.flex {
    display: flex;
}

/* HEADER */

header {
    width: 100%;
}

.navigation-bar {
    position: fixed;
    min-height: 100px;
    padding: 20px;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: white;
}

.logo {
    width: 10%;
}

.nav-options {
    margin-left: 1rem;
}

.nav-options a {
    text-decoration: none;
    margin-left: 3px;
}

.nav-interface {
    text-decoration: none;
    margin-right: 5px;
}

.nav-interface a {
    text-decoration: none;
    margin-left: 3px;
}

.blue-link {
    text-decoration: none;
    background-color: rgb(0, 49, 226);
    color: white;
    padding: 5px 10px;
}

/* END HEADER */

/* MAIN */

/* JUMBOTRON */

/* distanziato dal top per la stessa altezza del contenitore flex di header, soluzione troppo empirica */
.jumbotron {
    margin-top: 98px;
    width: 100%;
    min-height: 600px;
    background-color: rgb(25, 74, 166);
    padding-top: 30px;
}

.container {
    min-height: 400px;
    width: 80%;
    margin: 0 auto;
    justify-content: end;
}

.jumbo-title {
    font-size: 2rem;
    padding: 5px;
}

.jumbo-content {
    flex-direction: row;
}

.jumbo-description {
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
}

.jumbo-png {
    width: 100%;
}
